bin/awslocal
clifm
.dotter/cache.toml
.dotter/local.toml
fish/bat_theme
fish/completions/
fish/conf.d/
fish/fish_plugins
fish/fish_variables
fish/functions/_*
fish/functions/br.fish
fish/functions/fisher.fish
fish/functions/fish_prompt.fish
fish/functions/fk.fish
fish/functions/fzf_configure_bindings.fish
fish/functions/gh.fish
fish/functions/replay.fish
fish/functions/z.fish
fish/themes/
gh/hosts.yml
**/git/.config.*
history.txt
lazygit/state.yml
*.log
nvchad/lazy-lock.json
qutebrowser
ssh
.vagrant
vifm-*
vifminfo*
