[Desktop Entry]
Categories=System;FileTools;FileManager;Utility;ConsoleOnly;
Comment=Vi[m] like ncurses based file manager
Exec=kitty -e vifm %F
GenericName=File Manager
Icon=vifm
Name=Vifm
Terminal=false
TryExec=vifm
Type=Application
Keywords=File;Directory;Browse;
MimeType=inode/directory;
