theme = "dracula"

[editor]
# Shell to use when running external commands
shell = ["fish", "-c"]
# Disable middle-click paste
middle-click-paste = false
# Completion trigger length
completion-trigger-len = 2
# Distance from the current line
# When unfocused or in insert mode, relative will still show absolute line number
line-number = "relative"
# Highlight all lines with a cursor
cursorline = true
# Whether to color the mode indicator with different colors depending on the mode itself
color-modes = true
# Enable automatic pop up of auto-completion
auto-completion = true
# Set to true to make completions always replace the entire word and not just the part before the cursor
completion-replace = false
# Enable automatic saving on focus moving away
auto-save = true
# Enable automatic pop up of auto-completion
auto-format = true
# Renders a line at the top of the editor displaying open buffers
bufferline = "always"
# Enable true color support
true-color = true
# Gutter configuration
gutters = ["diagnostics", "line-numbers", "spacer", "diff"]

# Character set to use for jump labels
jump-label-alphabet = "asdfghjklqwertyuiopzxcvbnm"

[editor.statusline]
# A list of elements aligned to the left of the statusline
left = [
  "mode",
  "spinner",
  "version-control",
  "file-name",
  "file-modification-indicator",
  "separator",
]
# A list of elements aligned to the right of the statusline
right = [
  "diagnostics",
  "workspace-diagnostics",
  "separator",
  "selections",
  "separator",
  "position",
  "position-percentage",
  "total-line-numbers",
  "separator",
  "file-encoding",
  "file-line-ending",
  "file-type",
]
# The character used to separate elements in the statusline
separator = "│"

[editor.search]
smart-case = true
wrap-around = true

[editor.cursor-shape]
# Cursor shape in insert mode
insert = "bar"
# Cursor shape in normal mode
normal = "block"
# Cursor shape in select mode
select = "underline"

[editor.lsp]
# Display LSP progress messages below statusline
display-messages = true
# Display inlay hints
display-inlay-hints = true
# Enable LSP snippets
snippets = true

[editor.file-picker]
# Enables ignoring hidden files
hidden = false

[editor.whitespace]
# Whether to render whitespace
render = "none"

[editor.whitespace.characters]
space = "·"
nbsp = "⍽"
tab = "→"
newline = "⏎"

[editor.indent-guides]
# Whether to render indent guides
render = true
# Literal character to use for rendering the indent guide
character = "╎"

[editor.soft-wrap]
enable = true

[keys.normal]
# Quick iteration on config changes
C-o = ":config-open"
C-r = ":config-reload"

# Helix selection shortcuts
C-h = "select_prev_sibling"
C-j = "shrink_selection"
C-k = "expand_selection"
C-l = "select_next_sibling"

# Clipboards over registers (keep as it is often preferred even in native Helix)
y = ["yank_main_selection_to_clipboard", "collapse_selection"]
p = ["replace_selections_with_clipboard", "collapse_selection"]
P = ["paste_clipboard_before", "collapse_selection"]

# Search for word under cursor (native-like but slightly faster)
"*" = [
  "move_char_right",
  "move_prev_word_start",
  "move_next_word_end",
  "search_selection",
  "search_next",
]
"#" = [
  "move_char_right",
  "move_prev_word_start",
  "move_next_word_end",
  "search_selection",
  "search_prev",
]

[keys.insert]
# Simple escape
esc = ["collapse_selection", "normal_mode"]

[keys.select]
# Clipboards in select mode
y = ["yank_main_selection_to_clipboard", "normal_mode", "collapse_selection"]
p = "replace_selections_with_clipboard"
P = "paste_clipboard_before"

# Maintain sensible movement in select mode
k = ["extend_line_up", "extend_to_line_bounds"]
j = ["extend_line_down", "extend_to_line_bounds"]
